* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: black;
    font-size: 45px;
}

#section1 {
    font-size: 40px;
}

#section2 {
    background-color: #28ECA5;
}

#section2 h1 {
    font-size: 6vw;
}

#section3 {
    font-size: 40px;
}

#section5 {
    background-color: #46A6FC;
}

#section5 h1 {
    font-size: 4vw;
}

#footer {
    background-color: black;
    color: white;
    padding: 0px 0px 0px 10px;
}

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20%;
    text-align: center;
}

.one-column h1 {
    font-size: 6vw;
}

.two-column {
    float: left;
    width: 50%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 6vw;
}

.two-column p {
    font-size: 3vw;
}

.four-column {
    padding: 10px;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 30px;
}

.four-column img {
    width: 100%;
    align-content: center;
}

.four-column .desc {
    padding: 25px 25px 25px 25px;
    text-align: center;
    align-content: center;
    height: auto;
}

.padding-0 {
    padding: 0;
}

.four-column p {
    font-size: 2vw;
}

@media screen and (max-width:700px) {
    .header,
    .one-column,
    .two-column {
        width: 100%;
    }
    .four-column {
        width: 50%;
    }
}